<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票首页</title>
     <link rel="stylesheet" href="/static/bxslider-4-master/dist/jquery.bxslider.css">
</head>
<body>
        <div class="bxslider">
        <div><img src="/static/coffee1.jpg" ></div>
        <div><img src="/static/coffee2.jpg"></div>
        <div><img src="/static/coffee3.jpg"></div>
        <div><img src="/static/3.jpg"></div>
        <div><img src="/static/4.jpg"></div>
        <div><img src="/static/5.jpg"></div>
        <div><img src="/static/6.jpg"></div>
        <div><img src="/static/7.jpg"></div>
        <div><img src="/static/38.jpg"></div>
    </div>

    <script src="/static/jquery-1.12.4.js"></script>
    <script src="/static/bxslider-4-master/dist/jquery.bxslider.js"></script>

    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider();
        })
    </script>
</body>
</html>