<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#    <form method="post" action="/fm/">#}
{#        {% csrf_token %}#}
{#        <p><input type="text" name="user" placeholder="用户名"/> {{ obj.errors.user.0 }}</p>#}
{#        <p><input type="text" name="pwd" placeholder="密码"/>{{ obj.errors.pwd.0 }}</p>#}
{#        <p><input type="text" name="email" placeholder="邮箱"/>{{ obj.errors.email.0 }}</p>#}
{#        <input type="submit" />#}
{#    </form>#}

    <form method="post" action="/fm/">
        {% csrf_token %}
        <p>{{ obj.user.label }} {{ obj.user }} {{ obj.errors.user.0 }}</p>
        <p>{{ obj.pwd.label }} {{ obj.pwd }} {{ obj.errors.pwd.0 }}</p>
        <p>{{ obj.email.label }} {{ obj.email }} {{ obj.errors.email.0 }}</p>
        <p>{{ obj.f }} {{ obj.errors.f.0 }}</p>
        {{ obj.city1 }}
        {{ obj.city2 }}
        <input type="submit" value="提交"/>
    </form>

</body>
</html>