.c1{
    background-color: #2892CE;
    height: 478px;
    /*width: 1px;*/
}

        .c2 {
            background-color: #dddddd;
            height: 39px;
            /*width: 751px;*/
            line-height: 39px;
            font-weight: bold;
            text-align: center;
        }


        .c3{
            background-color: aliceblue;
            height: 300px;
            float: left;
            width:980px;
        }

        .c4{
            background-color: #dddddd;
            height: 39px;
            /*width: 751px;*/
            line-height: 39px;
            /*font-weight: bold;*/
            /*text-align: center;*/
        }