<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        body {
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
       <div style="height: 48px;background-color: red;color: black; line-height: 48px">
        用户管理页面
    </div>
    <div>
        <div style="position: absolute;top:48px;bottom: 0;left: 0;width: 200px;background-color: antiquewhite ;">
            <a class="menu" href="/cmdb/user_info/">用户管理</a>
            <a class="menu" href="/cmdb/user_group/">用户组管理</a>
        </div>
        <div style="position:absolute;top:48px;left: 210px;bottom: 0;right: 0;overflow: auto">
            <h3>添加用户组</h3>
            <form method="post" action="/cmdb/user_group/">
                <input type="text" name='group' placeholder="用户组"/>
                <input type="submit" value="提交" />
            </form>

            <ul>
                {% for row in group_list %}
                <li>
                    <a href="/cmdb/groupdetail-{{ row.uid }}">{{ row.caption }}</a> |
                    <a href="/cmdb/groupdel-{{ row.uid }}">删除</a> |
                    <a href="/cmdb/groupedit-{{ row.uid }}">编辑</a>
                </li>
                {% endfor %}
            </ul>

        </div>

    </div>

</body>
</html>